/* TableComponent.css */

/* Container for the component */
.table-container {
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* Input box for editing colors */
  .input-box {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
    padding: 8px;
    border: 1px solid #d1d1d1;
  }
  
  .input-box input[type="color"] {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .input-box button {
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
  }
  
  .input-box .apply-text-color {
    background-color: #38a169;
  }
  
  .input-box .apply-bg-color {
    background-color: #ecc94b;
  }
  
  .input-box .add-row {
    background-color: #4c51bf;
  }
  
  .input-box .add-column {
    background-color: #9f7aea;
  }
  
  .input-box .toggle-row-remove-mode,
  .input-box .toggle-column-remove-mode {
    background-color: #6b7280;
    color: white;
  }
  
  .input-box .toggle-row-remove-mode.bg-red-500 {
    background-color: #f56565;
  }
  
  .input-box .toggle-column-remove-mode.bg-red-500 {
    background-color: #f56565;
  }
  
  /* Table styling */
  .table-wrapper {
    position: relative;
    background-color: white;
    overflow: hidden;
  }
  
  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #e5e7eb;
  }
  
  th {
    padding: 8px;
    border: 1px solid #d1d1d1;
  }
  
  th input[type="text"] {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
  }
  
  td {
    padding: 8px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
  }
  
  td input[type="text"] {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .selected-cell {
    background-color: #cbd5e0;
  }
  
  /* Checkbox styling */
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  /* Resizer styling */
  .resizer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    cursor: se-resize;
  }
  